<h2>
  Employees
  <span class="float-right">
        <button class="btn btn-success btn-sm" (click)="add()">New Employee</button>
  </span>
</h2>

<div class="row">
  <div class="col-md-6 offset-md-6">
    <div class="form-group row">
      <label class="col-2 col-form-label">Search:</label>
      <div class="col-10">
        <input type="text" #myInput placeholder="Employee name..." [(ngModel)]="name" (input)="filterItem(myInput.value)" class="form-control"/>
      </div>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th class="text-center">Options</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of pagedItems">
      <td>{{employee.first_name}} {{employee.middle_name}} {{employee.last_name}}</td>
      <td>{{employee.role}}</td>
      <td class="text-center">
        <button class="btn btn-warning btn-sm" (click)="showEmployee(employee.id); $event.stopPropagation()">Show</button>
        <button class="btn btn-warning btn-sm" (click)="editEmployee(employee); $event.stopPropagation()">Edit</button>
        <button class="btn btn-danger btn-sm" (click)="confirmDestroy(employee.id); $event.stopPropagation()">x</button>
      </td>
    </tr>
    </tbody>
  </table>

  <nav aria-label="...">
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-center">
        <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
          <a (click)="setPage(1)" class="page-link">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
          <a (click)="setPage(pager.currentPage - 1)" class="page-link">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
          <a (click)="setPage(page)" class="page-link">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
          <a (click)="setPage(pager.currentPage + 1)" class="page-link">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
          <a (click)="setPage(pager.totalPages)" class="page-link">Last</a>
        </li>
      </ul>
  </nav>
</div>

<app-employee-detail>Detail Employee.</app-employee-detail>
<app-employee-form (changeEmployee)="changeEmployee($event)">Form Employee</app-employee-form>
<app-employee-destroy (destroyEmployee)="changeEmployee($event)">Form Employee</app-employee-destroy>
