<div class="row">
  <main class="col-sm-7 col-md-8 pt-3">
    <h2>
      Employees
      <span class="float-right">
        <button class="btn btn-success btn-sm" (click)="new()">New Employee</button>
      </span>
    </h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Role</th>
          <th class="text-center">Options</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let employee of employees" (click)="onSelect(employee)"
            [class.table-success]="employee === selectedEmployee">
          <td>{{employee.id}}</td>
          <td>{{employee.first_name}} {{employee.middle_name}} {{employee.last_name}}</td>
          <td>{{employee.role}}</td>
          <td class="text-center">
            <button class="btn btn-danger btn-sm delete" (click)="delete(employee); $event.stopPropagation()" data-toggle="tooltip"  title="Delete">x</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </main>
  <nav class="col-sm-5 offset-sm-7  col-md-4 offset-md-8 hidden-xs-down bg-faded sidebar">
    <div class="row">
      <div class="col-md-12">
        <form *ngIf="!selectedEmployee">
          <h2 class="second-container">Add Employee</h2>
          <div class="form-group">
            <label>First Name</label>
            <input class="form-control" #userFirstName placeholder="Enter First Name" />
          </div>
          <div class="form-group">
            <label>Middle Name</label>
            <input class="form-control" #userMiddleName placeholder="Enter Middle Name" />
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <input class="form-control" #userLastName placeholder="Enter Last Name" />
          </div>
          <div class="form-group">
            <label>Role</label>
            <!--<input class="form-control" #userRole placeholder="Enter Role" />-->
            <select class="form-control" [(ngModel)]="userRole"  name="sel2">
              <option [selected]="true">Select a role</option>
              <option value="PM">PM</option>
              <option value="Developer">Developer</option>
            </select>
          </div>
          <div class="text-right">
            <button class="btn btn-outline-success" (click)="add(userFirstName.value,userMiddleName.value,userLastName.value,userRole); userFirstName.value='';userMiddleName.value='';userLastName.value=''">
              Add
            </button>
          </div>
        </form>

        <div *ngIf="selectedEmployee">
          <h2 class="second-container">{{employee.first_name}} details!
            <button class="btn btn-outline-warning btn-sm float-right" [class.hidden]="isEditEmployee"  (click)="edit()">Edit</button>
            <button class="btn btn-outline-success btn-sm float-right" [class.hidden]="!isEditEmployee" (click)="save()">Save</button>
          </h2>
          <div class="form-group">
            <label>id: </label>
            <strong>
              {{employee.id}}
            </strong>
          </div>
          <div class="form-group">
            <label>First Name: </label>
            <strong [class.hidden]="isEditEmployee">{{employee.first_name}}</strong>
            <input  class="form-control" [class.hidden]="!isEditEmployee" [(ngModel)]="employee.first_name" placeholder="First Name" />
          </div>
          <div class="form-group">
            <label>Middle Name: </label>
            <strong [class.hidden]="isEditEmployee">{{employee.middle_name}}</strong>
            <input  class="form-control" [class.hidden]="!isEditEmployee" [(ngModel)]="employee.middle_name" placeholder="Middle Name" />
          </div>
          <div class="form-group">
            <label>Last Name: </label>
            <strong [class.hidden]="isEditEmployee">{{employee.last_name}}</strong>
            <input  class="form-control" [class.hidden]="!isEditEmployee" [(ngModel)]="employee.last_name" placeholder="Last Name" />
          </div>
          <div class="form-group">
            <label>Role</label>
            <strong [class.hidden]="isEditEmployee">{{employee.role}}</strong>
            <!--<input  class="form-control" [class.hidden]="!isEditEmployee" [(ngModel)]="employee.role" placeholder="Role" />-->
            <select class="form-control"  [class.hidden]="!isEditEmployee" [(ngModel)]="employee.role"  name="sel2">
              <option value="PM">PM</option>
              <option value="Developer">Developer</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
